<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="{{ url_for('tracker.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <title>Internal Server Error - Alpaca</title>
    </head>
    <body style="padding-top: 60px;">
        <div id="top" class="container">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a href="/" class="brand">Alpaca</a>
                    </div>
                </div>
            </div>
            <div class="hero-unit">
                <h1>Internal Server Error</h1>
                <p>Try again later or contact your system administrator.</p>
            </div>
        </div>
    </body>
</html>
