from alpaca.configuration.base import *

DEBUG = False

SECRET_KEY = ''

MONGODB_CONNECTIONS = {
    'default': {
        'name': 'alpaca',
        'host': 'localhost',
        'username': None,
        'password': None,
    },
    'testing': {
        'name': 'alpaca_testing',
        'host': 'localhost',
        'username': None,
        'password': None,
    },
}

# Mapping of reporter identifiers to their API keys
REPORTERS = {}

LOG_FILE = None

BABEL_DEFAULT_TIMEZONE = 'Europe/Warsaw'
