<table class="table table-striped">
    <thead>
        <tr>
            <th>Summary</th>
            <th>Last occurrence</th>
            <th>Occurrences</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for error in errors %}
            <tr>
                <td><code>{{ error.summary|truncate(75, true) }}</code></td>
                <td>{{ error.last_occurrence }}</td>
                <td>
                    <span class="badge {% if error.occurrence_counter >= 10 -%}
                        badge-important
                    {%- elif error.occurrence_counter > 1 -%}
                        badge-warning
                    {%- endif %}">{{ error.occurrence_counter }}</span>
                </td>
                <td>
                    <div class="btn-group">
                        <a href="{{ url_for('tracker.investigate',
                        error_id=error.id) }}" class="btn btn-mini"><i
                        class="icon icon-search"></i> Investigate</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" style="text-align: center;">No bugs for you.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
