<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head_meta -%}
            <meta charset="utf-8">
        {%- endblock %}
        {% block body_stylesheets -%}
            {%- assets "tracker_css" -%}
                <link href="{{ ASSET_URL }}" rel="stylesheet">
            {%- endassets -%}
        {%- endblock %}
        <title>{% block head_title -%}Alpaca{%- endblock %}</title>
    </head>
    <body>
        <div id="top" class="container">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a href="{{ url_for('tracker.dashboard') }}" class="brand">Alpaca</a>
                        {% block body_navbar_content %}
                            {% if current_user.is_authenticated() %}
                                <div class="nav-collapse">
                                    <ul class="nav pull-right">
                                        {% if current_user.is_authenticated() -%}
                                            <li><div class="btn-group">
                                                <a href="{{ url_for('tracker.change_password') }}" class="btn btn-mini btn-inverse"><i class="icon-white icon-wrench"></i> Change password</a>
                                            </div></li>
                                        {%- endif %}
                                        <li>
                                            <form action="{{ url_for('tracker.logout') }}" method="post" style="display: inline;">
                                                {{ logout_form.csrf_token }}
                                                <button class="btn btn-mini btn-danger"><i class="icon-white icon-off"></i> Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            {% if current_user.is_authenticated() -%}
                <div class="subnav">
                    <ul class="nav nav-tabs">
                        <li {% if active_reporter == 'all' %}class="active"{% endif %}><a href="{{ url_for('tracker.dashboard') }}" >all</a></li>
                        {% for reporter in reporters %}
                            <li {% if active_reporter == reporter %}class="active"{% endif %}><a href="{{ url_for('tracker.reporter', reporter=reporter) }}">{{ reporter }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {%- endif %}
            <div class="container">
                {% for category, message in get_flashed_messages(with_categories=True) -%}
                    <div class="alert alert-{{ category }}">
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </div>
                {%- endfor %}
                {% block body_content %}{% endblock %}
            </div>
        </div>
        {% block body_scripts %}
            {%- assets "tracker_js" -%}
                <script src="{{ ASSET_URL }}"></script>
            {%- endassets -%}
        {% endblock %}
    </body>
</html>
