{% extends "base.html" %}

{% block body_content %}
    <h1>{{ error.summary }}</h1>
    <table style="margin-top: 20px;" class="table table-bordered">
        <tbody>
            <tr><th>ID:</th><td><code>{{ error.id }}</code></td></tr>
            <tr><th>Reporters:</th><td>
                {%- for reporter in error.reporters -%}
                    <a href="{{ url_for('tracker.reporter', reporter=reporter) }}">{{ reporter }}</a>
                {%- endfor -%}
            </td></tr>
            <tr><th>Last occurrence:</th><td>{{ error.last_occurrence }}</td></tr>
            <tr><th>Occurrences total:</th><td>{{ error.occurrence_counter }}</td></tr>
        </tbody>
    </table>
    <h2>Traceback</h2>
    <pre style="margin-top: 10px;">{{ error.traceback }}</pre>
    <h2>Last occurrence</h2>
    {% with occurrence=error.occurrences|last %}
        <table style="margin-top: 10px;" class="table table-bordered">
            <tbody>
                <tr><th>URI:</th><td>
                    {%- if occurrence.uri -%}
                        <a href="{{ occurrence.uri }}">{{ occurrence.uri }}</a>
                    {%- else -%}
                        <span style="color: #aaa;">(not a request)</span>
                    {%- endif -%}
                </td></tr>
                <tr><th>Date:</th><td>{{ occurrence.date }}</td></tr>
                <tr><th>Reporter:</th><td><a href="{{ url_for('tracker.reporter', reporter=occurrence.reporter) }}">{{ occurrence.reporter }}</a></td></tr>
            </tbody>
        </table>
        {% if occurrence.uri %}
            <h3>GET data</h3>
            <pre style="margin-top: 10px;">
                {%- for name, value in occurrence.get_data|dictsort -%}
                    {{ name }} = {{ value }}<br>
                {%- else -%}
                    No GET data.
                {%- endfor -%}
            </pre>
            <h3>POST data</h3>
            <pre style="margin-top: 10px;">
                {%- for name, value in occurrence.post_data|dictsort -%}
                    {{ name }} = {{ value }}<br>
                {%- else -%}
                    No POST data.
                {%- endfor -%}
            </pre>
            <h3>Cookies</h3>
            <pre style="margin-top: 10px;">
                {%- for name, value in occurrence.cookies|dictsort -%}
                    {{ name }} = {{ value }}<br>
                {%- else -%}
                    No cookies.
                {%- endfor -%}
            </pre>
            <h3>Headers</h3>
            <pre style="margin-top: 10px;">
                {%- for name, value in occurrence.headers|dictsort -%}
                    {{ name }} = {{ value }}<br>
                {%- else -%}
                    No headers.
                {%- endfor -%}
            </pre>
        {% endif %}
    {% endwith %}
{% endblock %}
