{% extends "base.html" %}

{% block head_title -%}{{ error.summary }} - {{ super() }}{%- endblock %}

{% block body_content %}
    <h1>{{ error.summary }}</h1>
    <table style="margin-top: 20px;" class="table table-bordered alpaca-parameters">
        <tbody>
            <tr><th>ID:</th><td><code>{{ error.id }}</code></td></tr>
            <tr><th>Reporters:</th><td>
                {%- for reporter in error.reporters|sort -%}
                    <a href="{{ url_for('tracker.reporter', reporter=reporter) }}">{{ reporter }}</a>{% if not loop.last %}, {% endif %}
                {%- endfor -%}
            </td></tr>
            <tr><th>Last occurrence:</th><td>{{ error.last_occurrence }}</td></tr>
            <tr><th>Occurrences total:</th><td>{{ error.occurrence_counter }}</td></tr>
            <tr><th>Tags:</th><td>
                <form action="{{ url_for('tracker.set_tags', error_id=error.id) }}" method="post" style="margin-bottom: 0;" id="tags-form">
                    <div class="input-append" style="margin: 0;">
                        {{ tags_form.csrf_token }}
                        {{ tags_form.tags(class='input-xlarge') }}<input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </td></tr>
        </tbody>
    </table>
    <h2>Message</h2>
    <pre style="margin-top: 10px;">{{ error.message }}</pre>
    {% if error.occurrences|length > 1 %}
        <h2>Occurrences</h2>
    {% else %}
        <h2>Occurrence</h2>
    {% endif %}
    <div id="occurrences" class="tabbable" style="margin-top: 5px;">
        {% if error.occurrences|length > 1 %}
            <ul class="nav nav-tabs">
                {% for occurrence in error.occurrences|reverse %}
                    <li><a href="#occurrence-{{ error.occurrence_counter - loop.index0 }}" data-toggle="tab">{{ error.occurrence_counter - loop.index0 }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="tab-content">
            {% for occurrence in error.occurrences|reverse %}{% with occurrence_number=(error.occurrence_counter - loop.index0) %}
                <div class="tab-pane active" id="occurrence-{{ occurrence_number }}">
                    {% if error.occurrences|length > 1 %}
                        <a href="#top" class="top-link" style="float: right; line-height: 40px;">Do góry &uarr;</a>
                        <h2 style="margin-bottom: 10px;">Occurrence #{{ occurrence_number }}</h2>
                    {% endif %}
                    <table class="table table-bordered alpaca-parameters">
                        <tbody>
                            <tr><th>URI:</th><td>
                                {%- if occurrence.uri -%}
                                    <a href="{{ occurrence.uri }}">{{ occurrence.uri }}</a>
                                {%- else -%}
                                    <span style="color: #aaa;">(not a request)</span>
                                {%- endif -%}
                            </td></tr>
                            <tr><th>Date:</th><td>{{ occurrence.date }}</td></tr>
                            <tr><th>Reporter:</th><td><a href="{{ url_for('tracker.reporter', reporter=occurrence.reporter) }}">{{ occurrence.reporter }}</a></td></tr>
                        </tbody>
                    </table>
                    <h3>Stack trace</h3>
                    <div class="accordion" style="margin-top: 10px; margin-bottom: 20px;">
                        {% for frame in occurrence.stack_trace -%}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <span class="accordion-toggle" data-toggle="collapse" data-target="#alpaca-stack-trace-details-{{ occurrence_number }}-{{ loop.index0 }}">
                                        <code>{{ frame.function }}</code> in <code>{{ frame.filename }}</code>:<code>{{ frame.line_number }}</code>
                                    </span>
                                </div>
                                <div id="alpaca-stack-trace-details-{{ occurrence_number }}-{{ loop.index0 }}" class="accordion-body in collapse">
                                    <div class="accordion-inner">
                                        <pre style="margin-bottom: 0;" class="prettyprint">
                                            {%- for line in frame.pre_context -%}
                                                {{ line }}<br>
                                            {%- endfor -%}
                                            <div style="background-color: #dfdfcc;">{{ frame.context }}</div>
                                            {%- for line in frame.post_context -%}
                                                {{ line }}<br>
                                            {%- endfor -%}
                                        </pre>
                                        <table class="table table-condensed" style="font-family: monospace; font-size: 12px; margin-bottom: 0; table-layout: fixed;">
                                            <tbody>
                                                {%- for name, value in frame.variables|dictsort -%}
                                                    <tr><th>{{ name }}</th><td style="overflow: auto">{{ value }}</td></tr>
                                                {%- endfor -%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {%- endfor %}
                    </div>
                    {% if occurrence.uri %}
                        <h3>GET data</h3>
                        <table class="table table-condensed" style="font-family: monospace; font-size: 12px; table-layout: fixed;">
                            <tbody>
                                {%- for name, value in occurrence.get_data -%}
                                    <tr><th>{{ name }}</th><td style="overflow: auto">{{ value }}</td></tr>
                                {%- else -%}
                                    <tr><td colspan="2">No GET data.</td></tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                        <h3>POST data</h3>
                        <table class="table table-condensed" style="font-family: monospace; font-size: 12px; table-layout: fixed;">
                            <tbody>
                                {%- for name, value in occurrence.post_data -%}
                                    <tr><th>{{ name }}</th><td style="overflow: auto">{{ value }}</td></tr>
                                {%- else -%}
                                    <tr><td colspan="2">No POST data.</td></tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                        <h3>Cookies</h3>
                        <table class="table table-condensed" style="font-family: monospace; font-size: 12px; table-layout: fixed;">
                            <tbody>
                                {%- for name, value in occurrence.cookies -%}
                                    <tr><th>{{ name }}</th><td style="overflow: auto">{{ value }}</td></tr>
                                {%- else -%}
                                    <tr><td colspan="2">No cookies.</td></tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                        <h3>Headers</h3>
                        <table class="table table-condensed" style="font-family: monospace; font-size: 12px; table-layout: fixed;">
                            <tbody>
                                {%- for name, value in occurrence.headers -%}
                                    <tr><th>{{ name }}</th><td style="overflow: auto">{{ value }}</td></tr>
                                {%- else -%}
                                    <tr><td colspan="2">No headers.</td></tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            {% endwith %}{% endfor %}
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    <script src="{{ url_for('tracker.static', filename='jquery/js/jquery-ui-1.8.20.custom.min.js') }}"></script>
    <script src="{{ url_for('tracker.static', filename='tagit/js/tag-it.js') }}"></script>
    <script src="{{ url_for('tracker.static', filename='bootstrap/js/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('tracker.static', filename='bootstrap/js/bootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('tracker.static', filename='google-code-prettify/js/prettify.js') }}"></script>
    <script>
        var ALPACA_SAVE_TAGS = false;
        var ALPACA_CSRF_TOKEN = null;
        function alpaca_save_tags(tags) {
            if (!ALPACA_SAVE_TAGS) {
                return;
            }
            $.post(
                "{{ url_for('tracker.set_tags', error_id=error.id) }}",
                {
                    csrf_token: ALPACA_CSRF_TOKEN,
                    tags: tags.join()
                }
            );
        }
        function alpaca_tag_added(event, tag) {
            var tags = $("input[name='tags']").tagit("assignedTags");
            alpaca_save_tags(tags);
        }
        function alpaca_tag_removed(event, tag) {
            var tags = $("input[name='tags']").tagit("assignedTags");
            tags.splice(tags.indexOf(tag), 1);
            alpaca_save_tags(tags);
        }
        $(function(){
            {# Tags #}
            ALPACA_CSRF_TOKEN = $("#tags-form input[name='csrf_token']").val();
            $("#tags-form input[type='text']").tagit({
                onTagAdded: alpaca_tag_added,
                onTagRemoved: alpaca_tag_removed
            });
            setTimeout(function(){ALPACA_SAVE_TAGS = true;}, 100);
            $("#tags-form input[type='submit']").remove();
            $("#tags-form > *").unwrap();
            {# Occurrence tabs #}
            $("#occurrences .tab-content .tab-pane h2, #occurrences .tab-content .tab-pane a.top-link").hide();
            $("#occurrences .nav-tabs a:first").tab("show");
            {# Code syntax highlighting #}
            prettyPrint();
        });
        {# Stack trace #}
        $(".collapse").collapse();
    </script>
{% endblock %}
