{% extends "alpaca:templates/base.jinja2" %}
{% from "alpaca:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}

{% block head_title %}{% trans %}Sign in{% endtrans %} - {{ super() }}{% endblock %}

{% block body_content %}
    <h1>{% trans %}Sign in{% endtrans %}</h1>
    <form action="" method="post" class="well form-horizontal">
        {{ sign_in_form.csrf_token }}
        {{ horizontal_form_field(sign_in_form.email) }}
        {{ horizontal_form_field(sign_in_form.password) }}
        <div class="form-actions" style="padding-bottom: 0; margin-bottom: 0;">
            <button type="submit" class="btn btn-primary">{% trans %}Sign in{% endtrans %}</button>
        </div>
    </form>
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    <script>
        $(function(){
            $("input[type='text'], input[type='password']").focus(function(event){
                $(event.target).select();
            });
            $("input[name='email']").focus();
        });
    </script>
{% endblock %}
